/* COMMON */
body {
  color: #333;  /*#333333=#333: 같은숫자가 반복되면 앞에 3개만 쓰면됨*/
  font-size: 16px; /*default값이 16px 이나 브라우저에 따라 달라질 수 있어서 명시해줌*/
  font-weight: 400; /*두께: 400=기본*/
  line-height: 1.4; /*줄간격*/
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
}
img {
  display: block;
} /* 이미지는 기본적으로 블럭이 아닌 인라인 즉 글자 요소취급되어지는데 이것을 블럭으로 바꿔준다.
    인라인 요소들에게는 베이스라인이라는 알파벳 소문자를 썼을때 글자가 밑으로 튀어나오는 공간이 있어서
    하단에 그런 공간들에 대한 여유가 있음. */
a {
  text-decoration: none; /*모든 하이퍼링크 밑줄 없애줌*/
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverser {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592B18;
}
.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #D9AA8A;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}


/* HEADER */
header {
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;
}
/* HEADER INNER: inner는 걍 커스텀네임
  heder 그자체는 화면 꽉채운 상단 전체인데 그중 1100px만큼의 영역에서 가운데정렬해서 노출하겠다고 선언  */
header > .inner {
  height: 120px;
}
header .logo {
  height: 75px;
  position: absolute; /*absolute: 위치를 부모요소를 기준으로 한다*/
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .sub-menu {
  position: absolute;
  top: 10;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex; /*수평으로 정렬 default=수직*/
  /* Q. 왜 li에서 수평정렬 안하고 ul에서 수평정렬해야되는걸까? A. https://studiomeal.com/archives/197 */
}
header .sub-menu ul.menu li {
  position: relative;
}
/*메뉴 사이 구분선. :: = 가상요소선택자*/
header .sub-menu ul.menu li::before {
  content: ""; /*가상요소선택자가 오면 content가 무조건 와야함. 들어갈 텍스트가 없다면 "";*/
  /*display: block; 가상요소선택자는 default값이 inline이라 가로세로값을 못가지기에 block으로 바꿔줌. 밑에 position: absoulte를 통해 block요소가 되어서 생략가능*/
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0; /*0은 생략가능*/
}
/*첫번째 li태그의 before쪽 한개*/
header .sub-menu ul.menu li:first-child::before {
  display: none; /*맨 왼쪽 구분선 안보이게함*/
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px; /*링크 클릭 범위를 넓혀줌*/
  display: block; /*default: inline*/
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative; /*material-icons의 부모 포지션*/
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc; /*1px 실선 테두리*/
  box-sizing: border-box; /*width와 height속성이 안쪽여백과 테두리를 포함함 <>content-box*/
  border-radius: 5px;
  outline: none; /*input box 선택시 outline색이 자동으로 바뀌는것을 없애줌*/
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s; /*전환효과(기본<->focus 시 효과), 기본값=all, 방향 .시간 */
}
/*input box가 선택되었을때*/
header .sub-menu .search input:focus { 
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons  {
  height: 24px; /*margin 계산을 위해 아이콘의 크기를 넣어야함*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: all .4s; /*all은 생략가능*/
}
/*java script를 통해 추가된 search focused class에 효괴줌. 돋보기 아이콘을 투명하게*/
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; /*???*/
  display: flex;
}
header .main-menu .item {

}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px; /*상 우 하 좌*/
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name { /*hover가 name뒤에오면 contents에는 적용안되므로 item class에 적용*/
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4{
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}
/*우측 배너*/
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual .inner {
  height: 646px;
}
.visual .inner .title {
  position: absolute;
  top: 88px;
  left: -10px;
}
.visual .inner .title .btn {
  position: absolute;
  top: 259px;
  right: 173px;
}
.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  right: 275px;
}
.visual .fade-in {
  opacity: 0;
}